.filter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.filter__text {
  font-weight: 500;
}

.filter__input {
  width: 300px;
  margin-left: 20px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 3px 3px 6px #8de7a0, inset -3px -3px 6px #727ff3;
}
